Repository raiden-network/raiden, pull requests merged in 2020-02, with the labels that each got.

#5830 Log stop signal
  raiden/ui/runners.py
Labels: PR / Awaiting Review

#5709 Room protection in case of multiple nodes
  raiden/network/transport/matrix/client.py
  raiden/network/transport/matrix/transport.py
  raiden/network/transport/matrix/utils.py
  raiden/tests/integration/network/transport/test_matrix_transport.py
  raiden/tests/integration/network/transport/test_matrix_transport_assumptions.py
  raiden/tests/mocked/test_matrix_transport.py
  raiden/tests/unit/test_matrix_transport.py
  raiden/tests/utils/transport.py
  raiden/utils/typing.py
Labels: Component / Transport, PR / Work In Progress

#5761 Skip unnecessary track_address_presence calls
  raiden/network/transport/matrix/utils.py
  raiden/tests/unit/test_matrix_presence.py
Labels: Effort / 8, PR / Work In Progress

#5907 Change Matrix API to enable admin rights for ServerAdmins in Broadcast Rooms
  raiden/network/transport/matrix/client.py
  raiden/tests/integration/network/transport/test_matrix_transport_assumptions.py
  raiden/tests/utils/synapse_config.yaml.template
  raiden/tests/utils/transport.py
Labels: Component / Transport, Flag / Tech Debt, PR / Awaiting Review, Type / Optimization

#5734 Sync Helper to control the sync and response processing in tests
  raiden/network/transport/matrix/client.py
  raiden/network/transport/matrix/sync_progress.py
  raiden/tests/integration/network/transport/test_matrix_transport.py
  raiden/ui/runners.py
Labels: Component / Transport, Flag / Testing, PR / Work In Progress, Topic / Flaky Tests, Type / Enhancement

#5892 Optimize room alias fetching
  raiden/network/transport/matrix/client.py
  raiden/tests/utils/transport.py
Labels: PR / Awaiting Review
